.btn {
  display: inline-block;
  padding: 16px 30px;

  color: $white;
  font-size: $font-size-13;
  font-family: "Roboto", sans-serif;
  line-height: $line-height-16;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;

  cursor: pointer;
}

.btn-green {
  color: $white;

  background-color: $green;
  border-color: $green;
}

.btn-purple {
  color: $white;

  background-color: $purple;
  border-color: $purple;
}

.btn-red {
  color: $white;

  background-color: $red;
  border-color: $red;
}

.btn-outline-white {
  color: $dark-grey;

  border-color: $dark-grey;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding: 20px 30px;
}

.btn-radius {
  border-radius: 32px;
}
