.btn {
  position: relative;

  display: inline-block;
  padding: 16px 30px;

  color: $dark-grey;
  font-size: $button-font-size;
  font-family: "Roboto", sans-serif;
  line-height: $button-line-height;
  text-align: center;
  text-decoration: none;

  vertical-align: middle;

  background-color: transparent;
  border: 1px solid transparent;

  border-color: $dark-grey;
  border-radius: $border-radius-button-default;

  cursor: pointer;

  img {
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-right: 16px;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-radius {
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 32px;
}

.btn-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-green {
  color: $white;

  background-color: $green;
  border-color: $green;
}

.btn-purple {
  color: $white;

  background-color: $purple;
  border-color: $purple;
}

.btn-red {
  color: $white;

  background-color: $red;
  border-color: $red;
}

.mix,
.favorites {
  padding-left: 66px;

  text-align: left;

  &::before {
    position: absolute;
    top: 21px;
    left: 30px;

    display: block;

    width: 20px;
    height: 20px;

    background-repeat: no-repeat;

    background-position: 0 0;
    background-size: cover;

    content: "";
  }
}

.mix {
  &::before {
    background-image: url("../images/play-button.svg");
  }
}

.favorites {
  &::before {
    background-image: url("../images/heart.svg");
  }
}
