.btn {
  display: inline-block;
  padding: 16px 30px;

  color: $dark-grey;
  font-size: $font-size-13;
  font-family: "Roboto", sans-serif;
  line-height: $line-height-16;
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: 1px solid transparent;

  border-color: $dark-grey;
  border-radius: 5px;

  cursor: pointer;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-lg-radius {
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 32px;
}

.btn-green {
  color: $white;

  background-color: $green;
  border-color: $green;
}

.btn-purple {
  color: $white;

  background-color: $purple;
  border-color: $purple;
}

.btn-red {
  color: $white;

  background-color: $red;
  border-color: $red;
}
