.form {
  .row {
    margin: 0 -12px;
  }

  .col-1,
  .col-2 {
    padding: 0 12px;
  }
}

.form-control {
  width: 100%;
  height: 50px;

  margin-bottom: 1.5rem;
  padding-left: 20px;

  color: $white;

  font-weight: 700;

  font-size: $font-size-14;
  line-height: $line-height-50;

  background: none;

  border: 2px solid $dark-grey;
  border-radius: $border-radius-input-default;

  @include placeholder($white);

  @media (max-width: 576px) {
    min-width: 100%;
  }
}

.find-control {
  width: 100%;
  padding: 5px 0 4px 10px;

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  background-color: #3c3b3d;

  border: none;
  border-radius: 50px;

  @include placeholder($lite-grey);

  @media (max-width: 576px) {
    min-width: 100%;
  }
}
