.popular-tracks {
  padding-right: 50px;

  color: $grey;
  font-size: $font-size-13;
  line-height: $line-height-20;

  @include media-breakpoint(max-width, 767px) {
    padding-right: 0;
  }

  .popular-track {
    display: grid;
    grid-template-columns: max-content max-content 1fr;
    align-items: center;
  }

  .photo-track {
    width: 55px;
    height: 55px;
    margin-right: 15px;
  }

  .info-track {
    h3 {
      font-weight: 700;
      font-size: inherit;
      line-height: inherit;
    }
  }

  .time {
    text-align: right;
  }
}
