.pricing {
  &-item {
    margin-bottom: 38px;

    @include media-breakpoint(max-width, 767px) {
      margin-bottom: 49px;
    }
  }

  &-body {
    padding: 24px;

    color: $white;

    background-repeat: no-repeat;

    background-position: 0 0;
    background-size: cover;

    border-radius: 1rem;

    @include media-breakpoint(max-width, 767px) {
      padding-top: 16px;
    }

    .title {
      margin-bottom: 200px;

      font-weight: 400;

      font-size: $font-size-24;
      line-height: $line-height-36;

      text-align: center;

      @include media-breakpoint(max-width, 767px) {
        font-size: $font-size-16;
        line-height: $line-height-24;
      }
    }
  }

  &-value {
    @include display-flex(row, wrap, center);

    margin-bottom: 41px;

    .price {
      margin-right: 16px;

      font-size: $font-size-64;
      line-height: 1em;

      text-align: right;
    }

    .currency {
      padding-top: 8px;

      font-size: $font-size-32;
      line-height: 1em;

      text-transform: uppercase;
    }
  }

  &-footer {
    margin-top: 64px;
    margin-bottom: 39px;

    font-size: $font-size-13;
    line-height: $line-height-20;
    text-align: center;
  }
}
