.similar-artists {
  margin-bottom: 75px;

  &-container {
    padding-right: 50px;
  }

  &-item {
    margin-top: 25px;

    img {
      margin-bottom: 18px;
    }

    span {
      display: block;

      @include media-breakpoint(max-width, 767px) {
        display: inline-block;
      }
    }
  }
}
