#page-similar {
  margin-bottom: 75px;

  h2 {
    margin-bottom: 23px;
  }

  .similar-artists {
    padding-right: 50px;

    .similar-item {
      margin-top: 25px;

      img {
        margin-bottom: 18px;
      }

      span {
        display: block;

        @include media-breakpoint(max-width, 767px) {
          display: inline-block;
        }
      }
    }
  }
}
