.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

.font-size-16 {
  font-size: $font-size-16;
}

.font-size-18 {
  font-size: $font-size-18;
}

.line-height-16 {
  line-height: $line-height-16;
}

.line-height-20 {
  line-height: $line-height-20;
}

.line-height-24 {
  line-height: $line-height-24;
}

.line-height-27 {
  line-height: $line-height-27;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-uppercase-none {
  text-transform: capitalize;
}

.white {
  color: $white;
}

.grey {
  color: $grey;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-23 {
  margin-bottom: 23px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-47 {
  margin-bottom: 47px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-24 {
  margin-right: 24px;
}

.w200 {
  min-width: 200px;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standart {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}
