.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.white {
  color: $white;
}

.grey {
  color: $grey;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-74 {
  margin-bottom: 74px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-24 {
  margin-right: 24px;
}

.bg-free {
  background: url("../images/subscribe_1.png");
}

.bg-standart {
  background: url("../images/subscribe_2.png");
}

.bg-premium {
  background: url("../images/subscribe_3.png");
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}
