$white: #fff;
$dark: #08020d;
$dark-grey: #cacaca;
$green: #34c176;
$grey: #e0e0e0;
$purple: #5328a1;
$red: #95390c;
$orange: #f89202;
$search-color: #757575;
$search-bg: #3c3b3d;

$grid-columns: 4;
$grid-gutter-width-base: 50px;
$grid-breakpoints: (
  xs: 0,
  sm: 767px
);

$font-size-11: 11px;
$font-size-13: 12.8px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-30: 30px;
$font-size-32: 32px;
$font-size-38: 38px;
$font-size-60: 60px;
$font-size-64: 64px;

$line-height-13: 13px;
$line-height-16: 16px;
$line-height-20: 19.2px;
$line-height-24: 24px;
$line-height-26: 26px;
$line-height-27: 27px;
$line-height-45: 45px;
$line-height-48: 48px;
$line-height-50: 50px;
$line-height-57: 57px;
$line-height-90: 90px;
$line-height-96: 96px;

$base-font-size: $font-size-18;
$base-line-height: 1.5;

$h1-font-size: $font-size-60;
$h1-line-height: $line-height-90;
$h1-mobile-font-size: $font-size-30;
$h1-mobile-line-height: $line-height-45;

$h2-font-size: $font-size-38;
$h2-line-height: $line-height-57;
$h2-mobile-font-size: $font-size-18;
$h2-mobile-line-height: $line-height-27;

$h3-font-size: $font-size-18;
$h3-line-height: $line-height-27;

$border-radius-button-default: 5px;
$border-radius-input-default: 3px;

$button-font-size: 12.8px;
$button-line-height: 19.2px;
