html,
body {
  min-height: 100vh;
}

body {
  display: block;

  color: $dark-grey;
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
  line-height: $base-line-height;

  background-color: $dark;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
  color: $white;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

p {
  margin-bottom: 16px;
}

ul {
  margin: 0 0 30px 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    list-style: none;

    &,
    a {
      color: $grey;
      text-decoration: none;
    }
  }
}

hr {
  height: 1px;

  font-size: 1px;
  line-height: 1px;

  background-color: $grey;
}

%base-head {
  color: $white;

  text-transform: uppercase;
}

%font-weight-700 {
  font-weight: 700;
}

%font-weight-400 {
  font-weight: 400;
}

@for $i from 1 through $grid-columns {
  h#{$i}, .h#{$i} {
    @extend %base-head;
  }

  @if ($i != 3) {
    h#{$i}, .h#{$i} {
      @extend %font-weight-700;
    }
  }

  @else {
    h#{$i}, .h#{$i} {
      @extend %font-weight-400;
    }
  }
}

h1 {
  @include header($h1-font-size, $h1-line-height, $h1-mobile-font-size, $h1-mobile-line-height);
}

h2 {
  @include header($h2-font-size, $h2-line-height, $h2-mobile-font-size, $h2-mobile-line-height);
}

h3 {
  @include header($h3-font-size, $h3-line-height, $h3-mobile-font-size, $h3-mobile-line-height);
}

h4 {
  @include header($h4-font-size, $h4-line-height);
}

.container {
  position: relative;

  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1280px) {
    max-width: 1200px;
  }
}

section {
  padding-top: 100px;
}

@include make-grid-row();
@include make-grid-columns();

.column {
  column-count: 2;
  column-gap: 30px;

  @include media-breakpoint(max-width, 767px) {
    column-count: 1;
    column-gap: 0;
  }
}

.break-after-column {
  break-after: column;
}
