html,
body {
  min-height: 100vh;
}

body {
  overflow-x: hidden;

  color: $dark-grey;
  font-size: $font-size-16;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  background-color: $dark;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

p {
  padding-bottom: 16px;
}

hr,
.hr {
  height: 1px;

  font-size: 1px;
  line-height: 1px;

  background-color: $grey;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: $white;
}

h1,
h2,
h4,
.h1,
.h2,
.h4 {
  font-weight: 700;
}

h2,
.h2 {
  margin-bottom: 48px;
}

h3,
.h3 {
  font-weight: 400;

  text-align: center;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  text-transform: uppercase;
}

h1 {
  font-size: $font-size-60;
  line-height: $line-height-90;

  @media (max-width: 575px) {
    font-size: $font-size-30;
    line-height: $line-height-45;
  }
}

h2 {
  font-size: $font-size-38;
  line-height: $line-height-57;

  @media (max-width: 575px) {
    font-size: $font-size-18;
    line-height: $line-height-27;
  }
}

h3 {
  font-size: $font-size-24;
  line-height: $line-height-45;

  @media (max-width: 575px) {
    font-size: $font-size-16;
    line-height: $line-height-24;
  }
}

h4 {
  font-size: $font-size-18;
  line-height: $line-height-27;
}

.container {
  position: relative;

  max-width: 1200px;

  margin: 0 auto;

  @media (max-width: 576px) {
    max-width: 100%;

    padding: 0 20px;
  }
}

section {
  padding-top: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -25px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  padding: 0 25px;
}

.col-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;

  @media (max-width: 575px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-3 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;

  @media (max-width: 575px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;

  @media (max-width: 575px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.break-after-column {
  break-after: column;
}

::-webkit-input-placeholder {
  color: $white;
}

::-ms-input-placeholder {
  color: $white;
}

::-moz-placeholder {
  color: $white;
}

:-moz-placeholder {
  color: $white;
}

:-ms-input-placeholder {
  color: $white;
}

::placeholder {
  color: $white;
}
