%font-footer-base {
  font-size: $font-size-16;
  line-height: $line-height-24;
}

footer {
  padding: 63px 0 48px 0;

  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);
}

.top-menu {
  padding-bottom: 68px;

  &-title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: $font-size-18;
    line-height: $line-height-27;
    text-transform: uppercase;
  }

  .top-menu-nav {
    @include ul-reset();

    @include media-breakpoint(max-width, 767px) {
      margin-bottom: 30px;
    }

    > .top-menu-nav-item {
      @extend %font-footer-base;

      > .top-menu-nav-link {
        @extend %font-footer-base;

        @include hover-current() {
          color: $white;
        }
      }
    }
  }

  .social {
    display: flex;
    flex-wrap: wrap;

    .social-link {
      margin-right: 24px;
    }
  }
}

.bottom-menu {
  padding-top: 40px;

  .bottom-menu-nav {
    @include ul-reset();

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include media-breakpoint(max-width, 767px) {
      flex-direction: column;
    }

    .bottom-menu-nav-item {
      margin: 0 15px 0 0;

      @extend %font-footer-base;

      @include media-breakpoint(max-width, 767px) {
        margin: 0 0 16px 0;

        &:last-child {
          margin: 0;
        }
      }

      .bottom-menu-nav-link {
        display: block;

        @extend %font-footer-base;

        @include hover-current() {
          color: $white;
        }
      }
    }
  }
}
