footer {
  padding: 62px 0 47px 0;

  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);

  .top-menu,
  .bottom-menu {
    ul {
      margin: 0;
      padding: 0;

      li,
      li * {
        font-size: $font-size-16;
        line-height: $line-height-24;
      }
    }
  }

  .top-menu {
    padding-bottom: 72px;

    @include media-breakpoint(max-width, 767px) {
      ul {
        margin-bottom: 30px;
      }
    }

    .title {
      margin-bottom: 16px;

      font-weight: 700;
      font-size: $font-size-18;
      line-height: $line-height-27;
      text-transform: uppercase;
    }

    .social {
      display: flex;
      flex-wrap: wrap;

      a {
        margin-right: 24px;
      }
    }
  }

  .bottom-menu {
    padding-top: 40px;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include media-breakpoint(max-width, 767px) {
        flex-direction: column;
      }

      li {
        margin: 0 15px 0 0;

        @include media-breakpoint(max-width, 767px) {
          margin: 0 0 16px 0;

          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}
