footer {
  padding: 4rem 0 3rem 0;

  background: linear-gradient(89.75deg, $purple 32.83%, $red 81.56%);

  .top-menu {
    padding-bottom: 71px;

    ul {
      margin: 0;
      padding: 0;
    }

    .title {
      margin-bottom: 16px;

      font-weight: 700;
      font-size: $font-size-18;
      line-height: $line-height-24;
      text-transform: uppercase;
    }
  }

  .bottom-menu {
    padding-top: 40px;

    ul {
      margin: 0;
      padding: 0;

      li {
        margin-right: 15px;
      }
    }
  }
}
