header {
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .menu {
    display: grid;
    grid-template-columns: max-content 1fr 250px;

    @media (max-width: 576px) {
      grid-template-columns: 1fr;
    }
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    padding: 25px 0 1px 0;

    .image {
      width: 24px;
      height: 24px;
      margin-right: 16px;
    }

    .title {
      padding: 5px 64px 7px 0;

      color: $white;

      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 30px 0 7px 0;

    list-style: none;

    @media (max-width: 576px) {
      flex-direction: column;
      padding-top: 17px;
    }

    li {
      margin: 0;
      padding: 0;

      line-height: 100%;

      list-style: none;

      a {
        display: block;
        padding: 0 1.5rem;

        color: $grey;

        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;

        &:hover,
        &.current {
          color: $white;
          font-weight: 700;
        }

        @media (max-width: 576px) {
          display: inline-block;
          padding: 0;
        }
      }
    }
  }

  .find {
    padding: 25px 0 0 0;

    @media (max-width: 576px) {
      padding-top: 11px;
    }

    input {
      width: 100%;
      padding: 5px 0 4px 10px;

      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;

      background-color: #3c3b3d;

      border: none;
      border-radius: 50px;

      &::-webkit-input-placeholder {
        color: #757575;
      }

      &::-ms-input-placeholder {
        color: #757575;
      }

      &::-moz-placeholder {
        color: #757575;
      }

      &:-moz-placeholder {
        color: #757575;
      }

      &:-ms-input-placeholder {
        color: #757575;
      }

      &::placeholder {
        color: #757575;
      }
    }
  }

  .page-description {
    padding: 200px 0;

    h2 {
      margin-bottom: 32px;

      @media (max-width: 576px) {
        margin-bottom: 16px;
      }
    }
  }

  .form {
    max-width: 570px;

    margin: 0 auto;

    .col {
      flex: 1 0 50%;

      @media (max-width: 576px) {
        flex: 1 0 100%;
      }
    }

    .find-control {
      @media (max-width: 576px) {
        min-width: 100%;
      }
    }

    button {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
