header {
  position: relative;

  padding-top: 200px;
  padding-bottom: 200px;

  line-height: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  section {
    &.main {
      margin-top: 0;

      @include media-breakpoint(max-width, 767px) {
        margin-top: 50px;
      }
    }

    &.artist {
      margin-top: 48px;

      @include media-breakpoint(max-width, 767px) {
        margin-top: 24px;
      }
    }
  }
}

.navbar {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  z-index: 9999;

  .navbar-grid {
    display: grid;
    grid-template-columns: max-content 1fr 250px;

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .nav {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
      padding: 5px 0 7px 0;

      list-style: none;

      @include media-breakpoint(max-width, 767px) {
        flex-direction: column;
        padding-top: 16px;
      }

      &-item {
        margin: 0;
        padding: 0 1.5rem 0 0;

        line-height: $line-height-13;

        list-style: none;

        @include media-breakpoint(max-width, 767px) {
          align-self: flex-start;
          padding: 0;
        }
      }

      &-link {
        display: block;

        color: $grey;

        font-size: $font-size-11;
        line-height: $line-height-13;
        text-transform: uppercase;

        @include media-breakpoint(max-width, 767px) {
          display: inline-block;
        }

        @include hover-current() {
          color: $white;
          font-weight: 700;
        }
      }
    }
  }
}

.logo {
  display: flex;
  flex-wrap: wrap;

  .image {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  .title {
    padding: 5px 88px 6px 0;

    color: $white;
    font-weight: 700;

    font-size: $font-size-11;
    line-height: $line-height-13;
    text-transform: uppercase;
  }
}

.search {
  @include media-breakpoint(max-width, 767px) {
    padding-top: 13px;
  }
}

h2.description {
  margin-bottom: 32px;

  @include media-breakpoint(max-width, 767px) {
    margin-bottom: 16px;
  }
}

.count-fans {
  display: inline-block;
  margin-bottom: 49px;

  color: $white;
  font-size: $font-size-16;
  line-height: $line-height-24;
}
