html,
body {
  min-height: 100vh;
}

body {
  overflow-x: hidden;

  color: #cacaca;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  background-color: #08020d;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

p {
  margin-bottom: 16px;
}

ul {
  margin: 0 0 30px 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;

  list-style: none;
}

ul li,
ul li a {
  color: #e0e0e0;
  text-decoration: none;
}

hr {
  height: 1px;

  font-size: 1px;
  line-height: 1px;

  background-color: #e0e0e0;
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  color: #fff;
}

h1,
h2,
h4,
.h1,
.h2,
.h4 {
  font-weight: 700;
}

h3,
.h3 {
  font-weight: 400;
}

h1,
h2,
.h1,
.h2 {
  text-transform: uppercase;
}

h2,
.h2 {
  margin-bottom: 49px;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 30px;
  line-height: 45px;
}

@media (max-width: 576px) {
  h3 {
    font-size: 16px;
    line-height: 26px;
  }
}

h4 {
  font-size: 18px;
  line-height: 27px;
}

.container {
  position: relative;

  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

section {
  padding-top: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.col-1,
.col-2,
.col-3,
.col-4 {
  padding: 0 25px;
}

.col-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-3 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 576px) {
  .col-sm-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.column {
  column-count: 2;
  column-gap: 30px;
}

.break-after-column {
  break-after: column;
}

::-webkit-input-placeholder {
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

::placeholder {
  color: #fff;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

header {
  position: relative;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header .menu {
  display: grid;
  grid-template-columns: max-content 1fr 250px;
}

@media (max-width: 576px) {
  header .menu {
    grid-template-columns: 1fr;
  }
}

header .logo {
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 1px 0;
}

header .logo .image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

header .logo .title {
  padding: 5px 64px 7px 0;

  color: #fff;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

header .nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 30px 0 7px 0;

  list-style: none;
}

@media (max-width: 576px) {
  header .nav {
    flex-direction: column;
    padding-top: 17px;
  }
}

header .nav li {
  margin: 0;
  padding: 0;

  line-height: 100%;

  list-style: none;
}

header .nav li a {
  display: block;
  padding: 0 1.5rem;

  color: #e0e0e0;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

header .nav li a:hover,
header .nav li a.current {
  color: #fff;
  font-weight: 700;
}

@media (max-width: 576px) {
  header .nav li a {
    display: inline-block;
    padding: 0;
  }
}

header .find {
  padding: 25px 0 0 0;
}

@media (max-width: 576px) {
  header .find {
    padding-top: 11px;
  }
}

header .find input {
  width: 100%;
  padding: 5px 0 4px 10px;

  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;

  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}

header .find input::-webkit-input-placeholder {
  color: #757575;
}

header .find input::-ms-input-placeholder {
  color: #757575;
}

header .find input::-moz-placeholder {
  color: #757575;
}

header .find input:-moz-placeholder {
  color: #757575;
}

header .find input:-ms-input-placeholder {
  color: #757575;
}

header .find input::placeholder {
  color: #757575;
}

header .page-description {
  padding: 200px 0;
}

header .page-description h2 {
  margin-bottom: 32px;
}

@media (max-width: 576px) {
  header .page-description h2 {
    margin-bottom: 16px;
  }
}

header .form {
  max-width: 570px;
  margin: 0 auto;
}

header .form .col {
  flex: 1 0 50%;
}

@media (max-width: 576px) {
  header .form .col {
    flex: 1 0 100%;
  }
}

@media (max-width: 576px) {
  header .form .find-control {
    min-width: 100%;
  }
}

header .form button {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  padding-bottom: 3rem;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

footer .footer-item {
  padding: 3rem 2rem 0;
}

footer h2 {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
}

footer hr {
  margin-top: 74px;
}

footer .bottom-menu li {
  margin-right: 15px;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 16px 30px;

  color: #cacaca;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: middlie;

  background-color: transparent;
  border: 1px solid transparent;
  border-color: #cacaca;
  border-radius: 5px;
  cursor: pointer;
}

.btn img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-radius {
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 32px;
}

.btn-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-green {
  color: #fff;

  background-color: #34c176;
  border-color: #34c176;
}

.btn-purple {
  color: #fff;

  background-color: #5328a1;
  border-color: #5328a1;
}

.btn-red {
  color: #fff;

  background-color: #95390c;
  border-color: #95390c;
}

.mix {
  padding-right: 66px;
  padding-left: 66px;

  text-align: left;
}

.mix::before {
  position: absolute;
  top: 21px;
  left: 30px;

  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  content: "";
}

.favorites {
  padding-right: 66px;
  padding-left: 66px;
}

.favorites::before {
  position: absolute;
  top: 21px;
  left: 30px;

  display: block;
  width: 20px;
  height: 20px;

  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  content: "";
}

.form-control {
  min-width: 270px;
  height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;

  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.similar-artists .similar-item img {
  width: 100%;
  margin-bottom: 17px;
}

.pricing .pricing-item {
  margin-bottom: 39px;
}

.pricing .pricing-item .pricing-body {
  padding: 1.5rem;

  color: #fff;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 1rem;
}

.pricing .pricing-item .pricing-body h3 {
  margin-bottom: 200px;

  font-size: 24px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.pricing .pricing-item .pricing-body .pricing-value {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.pricing .pricing-item .pricing-body .pricing-value .price {
  margin-right: 16px;

  font-size: 64px;
  line-height: 1em;
}

.pricing .pricing-item .pricing-body .pricing-value .currency {
  padding-top: 10px;

  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}

.pricing .pricing-item .pricing-body .pricing-footer {
  margin-top: 64px;

  font-size: 13px;
  line-height: 20px;
  text-align: center;
}

.news-item {
  margin-bottom: 16px;
}

@media (max-width: 576px) {
  .news-item {
    margin-bottom: 65px;
  }
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-body {
  margin-bottom: 24px;
}

.news-footer .news-author {
  margin-bottom: 48px;

  font-size: 13px;
  line-height: 20px;
}

.news-footer .news-author .avatar {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 16px;

  vertical-align: middle;
}

.news-footer .news-author .author {
  margin-right: 16px;

  color: #f89202;
  text-transform: uppercase;
}

.news-item:nth-child(even) .news-image {
  order: 2;
}

.news-item:nth-child(odd) .news-image {
  order: 1;
}

@media (max-width: 576px) {
  .news-image {
    order: 1 !important;
  }
}

.news-item:nth-child(odd) .news-content {
  order: 2;
}

.news-item:nth-child(even) .news-content {
  order: 1;
}

@media (max-width: 576px) {
  .news-content {
    order: 2 !important;
  }
}

.popular-tracks {
  color: #e0e0e0;
  font-size: 13px;
  line-height: 20px;
}

.popular-tracks .popular-track {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
}

.popular-tracks .photo-track {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-size-16 {
  font-size: 16px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-20 {
  line-height: 20px;
}

.line-height-24 {
  line-height: 24px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.white {
  color: #fff;
}

.grey {
  color: #e0e0e0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-74 {
  margin-bottom: 74px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-24 {
  margin-right: 24px;
}

.w200 {
  min-width: 200px;
}

.bg-free {
  background: url("../images/subscribe_1.png");
}

.bg-standart {
  background: url("../images/subscribe_2.png");
}

.bg-premium {
  background: url("../images/subscribe_3.png");
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}
