header,
main,
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html,
body {
  min-height: 100vh;

  font-size: 18px;
  line-height: 1.5;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;

  color: #cacaca;
  font-family: "Roboto", sans-serif;

  background-color: #08020d;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

p {
  margin-bottom: 16px;
}

ul {
  margin: 0 0 30px 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;

  list-style: none;
}

ul li,
ul li a {
  color: #e0e0e0;
  text-decoration: none;
}

hr {
  width: 100%;
  height: 1px;

  font-size: 1px;
  line-height: 1px;

  background-color: #e0e0e0;
}

h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  line-height: 90px;
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }
}

h2 {
  font-size: 38px;
  line-height: 57px;
}

@media (max-width: 767px) {
  h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

h3 {
  font-size: 18px;
  line-height: 27px;
}

@media (max-width: 767px) {
  h3 {
    font-size: 18px;
    line-height: 27px;
  }
}

main {
  flex-grow: 1;
}

main section {
  padding-top: 100px;
}

.container {
  position: relative;

  flex: 1 0 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    flex: 1 0 740px;
    max-width: 740px;
  }
}

@media (min-width: 992px) {
  .container {
    flex: 1 0 960px;
    max-width: 960px;
  }
}

@media (min-width: 1240px) {
  .container {
    flex: 1 0 1200px;
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col-xs-4,
.col-xs-3,
.col-xs-2,
.col-xs-1 {
  position: relative;

  padding: 0 25px;
}

.col-xs-1 {
  flex: 0 0 100%;
  max-width: 100%;
}

.col-xs-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-xs-3 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-4 {
  flex: 0 0 25%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .col-sm-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .col-sm-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-3 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-4 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
}

header {
  position: relative;

  line-height: 1;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header section {
  padding-top: 200px;
  padding-bottom: 200px;
}

header section.main h1 {
  margin-top: 0;
}

header section.artist h1 {
  margin-top: 48px;
}

@media (max-width: 767px) {
  header section.artist h1 {
    margin-top: 24px;
  }
}

.navbar {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 9999;

  display: grid;
  grid-template-columns: max-content 1fr 250px;
}

@media (max-width: 767px) {
  .navbar {
    right: 20px;
    left: 20px;

    grid-template-columns: 1fr;
  }
}

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0 7px 0;

  list-style: none;
}

@media (max-width: 767px) {
  .navbar ul {
    flex-direction: column;
    padding-top: 17px;
  }
}

.navbar ul > li {
  margin: 0;
  padding: 0 1.5rem 0 0;

  line-height: 13px;

  list-style: none;
}

@media (max-width: 767px) {
  .navbar ul > li {
    align-self: flex-start;
    padding: 0;
  }
}

.navbar ul > li > a {
  display: block;

  color: #e0e0e0;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .navbar ul > li > a {
    display: inline-block;
  }
}

.navbar ul > li > a:hover,
.navbar ul > li > a.current {
  color: #fff;
  font-weight: 700;
}

.logo {
  display: flex;
  flex-wrap: wrap;
}

.logo .image {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.logo .title {
  padding: 5px 88px 6px 0;

  color: #fff;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .search {
    padding-top: 10px;
  }
}

h2 {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  h2 {
    margin-bottom: 16px;
  }
}

.count-fans {
  display: inline-block;
  margin-bottom: 49px;

  color: #fff;
  font-size: 16px;
  line-height: 24px;
}

.bottom-menu .bottom-menu-nav .bottom-menu-nav-item .bottom-menu-nav-link,
.bottom-menu .bottom-menu-nav .bottom-menu-nav-item,
.top-menu .top-menu-nav > .top-menu-nav-item > .top-menu-nav-link,
.top-menu .top-menu-nav > .top-menu-nav-item {
  font-size: 16px;
  line-height: 24px;
}

footer {
  padding: 62px 0 48px 0;

  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media (max-width: 767px) {
  footer {
    padding: 62px 0 48px 0;
  }
}

.top-menu {
  padding-bottom: 68px;
}

@media (max-width: 767px) {
  .top-menu {
    padding-bottom: 72px;
  }
}

.top-menu-title {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}

.top-menu .top-menu-nav {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .top-menu .top-menu-nav {
    margin-bottom: 31px;
  }
}

.top-menu .top-menu-nav > .top-menu-nav-item > .top-menu-nav-link:hover,
.top-menu .top-menu-nav > .top-menu-nav-item > .top-menu-nav-link.current {
  color: #fff;
}

.top-menu .social {
  display: flex;
  flex-wrap: wrap;
}

.top-menu .social .social-link {
  margin-right: 24px;
}

.bottom-menu {
  padding-top: 40px;
}

.bottom-menu .bottom-menu-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .bottom-menu .bottom-menu-nav {
    flex-direction: column;
  }
}

.bottom-menu .bottom-menu-nav .bottom-menu-nav-item {
  margin: 0 15px 0 0;
}

@media (max-width: 767px) {
  .bottom-menu .bottom-menu-nav .bottom-menu-nav-item {
    margin: 0 0 16px 0;
  }

  .bottom-menu .bottom-menu-nav .bottom-menu-nav-item:last-child {
    margin: 0;
  }
}

.bottom-menu .bottom-menu-nav .bottom-menu-nav-item .bottom-menu-nav-link {
  display: block;
}

.bottom-menu .bottom-menu-nav .bottom-menu-nav-item .bottom-menu-nav-link:hover,
.bottom-menu .bottom-menu-nav .bottom-menu-nav-item .bottom-menu-nav-link.current {
  color: #fff;
}

.btn {
  position: relative;

  display: inline-block;
  padding: 16px 30px;

  color: #cacaca;
  font-size: 12.8px;
  font-family: "Roboto", sans-serif;
  line-height: 19.2px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  background-color: transparent;
  border: 1px solid transparent;
  border-color: #cacaca;
  border-radius: 5px;
  cursor: pointer;
}

.btn img {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-radius {
  padding-right: 40px;
  padding-left: 40px;

  border-radius: 32px;
}

.btn-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-green {
  color: #fff;

  background-color: #34c176;
  border-color: #34c176;
}

.btn-purple {
  color: #fff;

  background-color: #5328a1;
  border-color: #5328a1;
}

.btn-red {
  color: #fff;

  background-color: #95390c;
  border-color: #95390c;
}

.mix,
.favorites {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.mix::before,
.favorites::before {
  position: relative;

  display: block;
  width: 20px;
  height: 20px;
  margin-right: 16px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;

  content: "";
}

.mix::before {
  background-image: url("../images/play-button.svg");
}

.favorites::before {
  background-image: url("../images/heart.svg");
}

.form {
  max-width: 570px;
  margin: 0 auto;
}

.form button {
  font-family: Arial, Helvetica, sans-serif;
}

.form .row {
  margin: 0 -12px;
}

.form .col-sm-1,
.form .col-xs-2 {
  padding: 0 12px;
}

.form-control {
  width: 100%;
  height: 50px;
  margin-bottom: 1.5rem;
  padding-left: 20px;

  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 50px;

  background: none;
  border: 2px solid #cacaca;
  border-radius: 3px;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
}

.form-control::-ms-input-placeholder {
  color: #fff;
}

.form-control::-moz-placeholder {
  color: #fff;
}

.form-control:-moz-placeholder {
  color: #fff;
}

.form-control:-ms-input-placeholder {
  color: #fff;
}

.form-control::placeholder {
  color: #fff;
}

@media (max-width: 576px) {
  .form-control {
    min-width: 100%;
  }
}

.search-control {
  width: 100%;
  padding: 5px 0 4px 10px;

  font-size: 12.8px;
  line-height: 16px;
  text-transform: uppercase;

  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
}

.search-control::-webkit-input-placeholder {
  color: #757575;
}

.search-control::-ms-input-placeholder {
  color: #757575;
}

.search-control::-moz-placeholder {
  color: #757575;
}

.search-control:-moz-placeholder {
  color: #757575;
}

.search-control:-ms-input-placeholder {
  color: #757575;
}

.search-control::placeholder {
  color: #757575;
}

@media (max-width: 576px) {
  .search-control {
    min-width: 100%;
  }
}

#page-similar {
  margin-bottom: 75px;
}

#page-similar h2 {
  margin-bottom: 23px;
}

#page-similar .similar-artists {
  padding-right: 50px;
}

#page-similar .similar-artists .similar-item {
  margin-top: 25px;
}

#page-similar .similar-artists .similar-item img {
  margin-bottom: 18px;
}

#page-similar .similar-artists .similar-item span {
  display: block;
}

@media (max-width: 767px) {
  #page-similar .similar-artists .similar-item span {
    display: inline-block;
  }
}

#page-pricing h2 {
  margin-bottom: 45px;
}

.pricing .pricing-item {
  margin-bottom: 50px;
}

.pricing .pricing-item:last-child {
  margin-bottom: 43px;
}

.pricing .pricing-item .pricing-body {
  padding: 19px 24px;

  color: #fff;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  border-radius: 1rem;
}

.pricing .pricing-item .pricing-body h3 {
  margin-bottom: 200px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 767px) {
  .pricing .pricing-item .pricing-body h3 {
    font-size: 16px;
    line-height: 24px;
  }
}

.pricing .pricing-item .pricing-body .pricing-value {
  display: flex;
  margin-bottom: 40px;
}

.pricing .pricing-item .pricing-body .pricing-value .price {
  flex-basis: 50%;
  margin-right: 16px;

  font-size: 64px;
  line-height: 1em;
  text-align: right;
}

.pricing .pricing-item .pricing-body .pricing-value .currency {
  flex-basis: 50%;
  padding-top: 8px;

  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}

.pricing .pricing-item .pricing-body .pricing-footer {
  margin-top: 64px;
  margin-bottom: 42px;

  font-size: 12.8px;
  line-height: 19.2px;
  text-align: center;
}

.news-item {
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .news-item {
    margin-bottom: 65px;
  }
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-body {
  margin-bottom: 24px;
}

.news-body .title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
}

@media (max-width: 767px) {
  .news-body .title {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 24px;
  }
}

.news-footer .news-author {
  margin-bottom: 48px;

  font-size: 12.8px;
  line-height: 19.2px;
}

.news-footer .news-author .avatar {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 16px;

  vertical-align: middle;
}

.news-footer .news-author .author {
  margin-right: 16px;

  color: #f89202;
  text-transform: uppercase;
}

.news-image-body .news-image {
  width: 100%;
}

.news-item:nth-child(even) .news-image-body {
  order: 2;
}

.news-item:nth-child(odd) .news-image-body {
  order: 1;
}

@media (max-width: 767px) {
  .news-image-body {
    order: 1 !important;
  }
}

.news-item:nth-child(odd) .news-content {
  order: 2;
}

.news-item:nth-child(even) .news-content {
  order: 1;
}

@media (max-width: 767px) {
  .news-content {
    order: 2 !important;
  }
}

.app {
  margin-bottom: 100px;
}

.app .app-content .app-descriptions {
  order: 1;
  padding-top: 16px;

  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 767px) {
  .app .app-content .app-descriptions {
    order: 2 !important;
    padding-top: 0;
  }
}

.app .app-content .app-image {
  order: 2;
}

@media (max-width: 767px) {
  .app .app-content .app-image {
    order: 1 !important;
    margin-bottom: 16px;
  }
}

.popular-tracks {
  padding-right: 50px;

  color: #e0e0e0;
  font-size: 12.8px;
  line-height: 19.2px;
}

@media (max-width: 767px) {
  .popular-tracks {
    padding-right: 0;
  }
}

.popular-tracks .popular-track {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  align-items: center;
}

.popular-tracks .photo-track {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.popular-tracks .info-track .title {
  font-size: inherit;
  line-height: inherit;
}

.popular-tracks .time {
  text-align: right;
}

.discography {
  padding-right: 50px;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.line-height-16 {
  line-height: 16px;
}

.line-height-20 {
  line-height: 19.2px;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-27 {
  line-height: 27px;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-uppercase-none {
  text-transform: capitalize;
}

.white {
  color: #fff;
}

.grey {
  color: #e0e0e0;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mb-75 {
  margin-bottom: 75px;
}

.mb-100 {
  margin-bottom: 100px;
}

.mr-24 {
  margin-right: 24px;
}

.w200 {
  min-width: 200px;
}

.bg-free {
  background: url("../images/subscribe_1.png");
}

.bg-standart {
  background: url("../images/subscribe_2.png");
}

.bg-premium {
  background: url("../images/subscribe_3.png");
}

.bg-main {
  background-image: url("../images/banner.png");
}

.bg-artist {
  background-image: url("../images/Morten Harket.png");
}
