%flex-base-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

html,
body {
  min-height: 100vh;

  font-size: $base-font-size;

  line-height: $base-line-height;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;

  color: $dark-grey;
  font-family: "Roboto", sans-serif;

  background-color: $dark;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  color: $white;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}

p {
  margin-bottom: 16px;
}

ul {
  margin: 0 0 30px 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    list-style: none;

    &,
    a {
      color: $grey;
      text-decoration: none;
    }
  }
}

hr {
  width: 100%;
  height: 1px;

  font-size: 1px;
  line-height: 1px;

  background-color: $grey;
}

%base-head {
  color: $white;
  font-weight: 700;

  text-transform: uppercase;
}

@for $i from 1 through $grid-columns {
  h#{$i},
  .h#{$i} {
    @extend %base-head;
  }
}

h1 {
  @include header($h1-font-size, $h1-line-height, $h1-mobile-font-size, $h1-mobile-line-height);
}

h2 {
  @include header($h2-font-size, $h2-line-height, $h2-mobile-font-size, $h2-mobile-line-height);
}

h3 {
  @include header($h3-font-size, $h3-line-height);
}

main {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: center;

  section {
    flex: 0 0 1240px;

    max-width: 1240px;
    padding-top: 100px;
  }
}

.container {
  position: relative;

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 767px) {
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    max-width: 740px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1240px) {
    max-width: 1200px;
  }
}

@include make-grid-row();
@include make-grid-columns();
